html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main-frame {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(31, 1fr);
    background: linear-gradient(to right, #381ea0, #000000);
}

.Solen {
position: absolute;
width: 50%;
height: 100%;
left: -650px;
border-radius: 100%;
background: #FFD029;
box-shadow: 0px 0px 250px rgba(237, 187, 5, 0.2);
cursor: pointer;
}

.info-text {
    grid-row: 2 / 4;
    grid-column: 24 / 30;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px; 
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
    color: #ffffff;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 120px; 
    color: #FFD029;
}

.planet-row {
    grid-row: 7 / 10;
    grid-column: 4 / 30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.Merkurius {
    background-color: #888888;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 10px;
}

.Venus {
    background-color: #E7CDCD;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.Jorden {
    background-color: #428ED4;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.Mars {
    background-color: #EF5F5F;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.Jupiter {
    background-color: #E29468;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    cursor: pointer;
}

.Saturnus {
    position: relative;
    background-color: #C7AA72;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.Saturnus::before {
    content: '';
    position: absolute;
    width: 160px;
    height: 10px;
    background: #ffffff80;
    border-radius: 50%;
    transform: translate(-50%, -50%) rotate(150deg);
    top: 50%;
    left: 50%;
}

.Uranus {
    background-color: #C9D4F1;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
}

.Neptunus {
    background-color: #7A91A7;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
}

.Merkurius, .Venus, .Jorden, .Mars, .Jupiter, .Saturnus, .Uranus, .Neptunus {
    transition: transform 0.3s ease;
}

.Merkurius:hover, .Venus:hover, .Jorden:hover, .Mars:hover, .Jupiter:hover, .Saturnus:hover, .Uranus:hover, .Neptunus:hover {
    transform: scale(1.2);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: #db0a0a;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    overflow-y: auto;
    color: #000;
}

.overlay-content h2, .overlay-content h3 {
    margin-top: 0;
}

.close-overlay {
    margin-top: 20px;
}